/*!
 * Copyright 2021 VariaMos PLE. 
 */

:root {
  --primary-color: #428dcf;
  --primary-color-text: #ffffff;
  --primary-color-constrast: #0f436d;
  --primary-color-constrast-text: #ffffff;

  --secondary-color: #428dcf;
  --secondary-color-text: #ffffff;
  --secondary-color-constrast: #0f436d;
  --secondary-color-constrast-text: #ffffff;

  --header-color: #dcdcdc;
  --dark-color-font: #212529;
  --dark-color-font-75: #212529f8;

  --dark-color: #212529;
  --dark-color-75: #212529f8;
  --dark-color-text: #ffffff;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-color-font) !important;
}

body {
  margin: 0px;
  padding: 0px;
}

.dark-container {
  color: var(--dark-color-text);
  background-color: var(--dark-color);
}

.dark-75-container {
  color: var(--dark-color-text);
  background-color: var(--dark-color-75);
}

footer {
  height: 100px;
  background-color: var(--dark-color-font);
  color: white;
  padding-top: 3rem;
  text-align: center;
  margin-top: auto;
}

.word-break-all {
  word-break: break-all;
}

.text-decoration-underline-hover:hover {
  text-decoration: underline !important;
}
